name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    types: [opened, synchronize, reopened]
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false
jobs:
  build:
    name: Build binaries
    runs-on: windows-2022
    strategy:
      matrix:
        configuration:
          - Debug
          - Release
    steps:
      - name: Check out files
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          lfs: false

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Generate project files
        run: tools/premake5 vs2022

      - name: Set up problem matching
        uses: ammaraskar/msvc-problem-matcher@master

      - name: Build ${{matrix.configuration}} binaries
        run: msbuild /m /v:minimal /p:Configuration=${{matrix.configuration}} /p:Platform=x64 build/h2-mod.sln

      - name: Upload ${{matrix.configuration}} binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.configuration}} binaries
          path: |
            build/bin/x64/${{matrix.configuration}}/h2-mod.exe
            build/bin/x64/${{matrix.configuration}}/h2-mod.pdb
            
      - name: Upload ${{matrix.configuration}} data artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.configuration}} data artifacts
          path: |
            data/*
  deploy:
    name: Deploy artifacts
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    steps:
      - name: Setup main environment
        if: github.ref == 'refs/heads/main'
        run: | 
          echo "H2MOD_MASTER_PATH=${{ secrets.H2MOD_MASTER_SSH_PATH }}" >> $GITHUB_ENV
          echo "H2MOD_BRANCH=main" >> $GITHUB_ENV

      - name: Setup develop environment
        if: github.ref == 'refs/heads/develop'
        run: | 
          echo "H2MOD_MASTER_PATH=${{ secrets.H2MOD_MASTER_SSH_PATH_DEV }}" >> $GITHUB_ENV
          echo "H2MOD_BRANCH=develop" >> $GITHUB_ENV

      - name: Download Release binaries
        uses: actions/download-artifact@v4
        with:
          name: Release binaries
          
      - name: Download Release data artifacts
        uses: actions/download-artifact@v4
        with:
          name: Release data artifacts
          path: data

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2.7.0
        with:
          key: ${{ secrets.H2MOD_MASTER_SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'

      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.H2MOD_MASTER_SSH_ADDRESS }} >> ~/.ssh/known_hosts

      - name: Remove old data files
        run: ssh ${{ secrets.H2MOD_MASTER_SSH_USER }}@${{ secrets.H2MOD_MASTER_SSH_ADDRESS }} rm -rf ${{ env.H2MOD_MASTER_PATH }}/h2-mod/*

      - name: Upload h2-mod binary
        run: rsync -avz h2-mod.exe ${{ secrets.H2MOD_MASTER_SSH_USER }}@${{ secrets.H2MOD_MASTER_SSH_ADDRESS }}:${{ env.H2MOD_MASTER_PATH }}/h2-mod/

      - name: Upload data files
        run: rsync -avz ./data/ ${{ secrets.H2MOD_MASTER_SSH_USER }}@${{ secrets.H2MOD_MASTER_SSH_ADDRESS }}:${{ env.H2MOD_MASTER_PATH }}/h2-mod/

      - name: Publish changes
        run: ssh ${{ secrets.H2MOD_MASTER_SSH_USER }}@${{ secrets.H2MOD_MASTER_SSH_ADDRESS }} ${{ secrets.H2MOD_MASTER_SSH_CHANGE_PUBLISH_COMMAND }} ${{ env.H2MOD_BRANCH }}
